<!DOCTYPE html>
<html>
  <head>
    <title>PresupuestadorM1</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', params[:controller], media: 'all'%>
  </head>
  <body>
    <%= yield %>
  </body>
  <%= javascript_include_tag "application", params[:controller] %>
</html>
